# ------------------------
# DATABASE
# ------------------------
DATABASE_URL=postgresql://username:password@localhost:5555/database_name

# ------------------------
# JWT CONFIG
# ------------------------
ALGORITHM=HS256
SECRET_KEY=your-secret-key

# ------------------------
# APP CONFIG
# ------------------------
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173

# ------------------------
# BREVO EMAIL
# ------------------------
EMAIL_PROVIDER=BREVO

BREVO_API_KEY=your-brevo-api-key
BREVO_SENDER_EMAIL=your-email@example.com
BREVO_SENDER_NAME=Your School Name

# ------------------------
# EMAIL FLAGS
# ------------------------
ENABLE_EMAILS=True